{% extends 'base.html.twig' %}

{% block base_content_inner %}
    <h1 class="border-bottom border-secondary pb-2">{{ 'frontend.page.auth.register.title'|trans }}</h1>
        {% set errorFlashes = app.flashes('error') %}

        {% if errorFlashes %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in errorFlashes %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {{ form_start(form) }}
        <div class="my-3">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr': {
                'class': 'form-control mt-1 mb-2',
            }}) }}
        </div>

        <div class="my-3">
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword, {'attr': {
                'class': 'form-control mt-1 mb-2',
            }}) }}
        </div>

        <div class="my-3">
            {{ form_widget(form.submit, {'attr': {
                'class': 'btn btn-primary',
            }}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
