{% extends 'base.html.twig' %}

{% block base_content_inner %}
    <h1 class="border-bottom border-secondary pb-2">{{ 'frontend.page.post.create.title'|trans }}</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(postForm) }}
        <div class="form-group my-3">
            {{ form_widget(postForm.name, {'attr': {
                'class': 'form-control text-white bg-dark',
                'placeholder': 'frontend.page.post.create.input.name.placeholder'|trans
            }}) }}
            {{ form_errors(postForm.content) }}
        </div>

        <div class="form-group my-3">
            {{ form_widget(postForm.content, {'attr': {
                'class': 'form-control text-white bg-dark',
                'placeholder': 'frontend.page.post.create.input.content.placeholder'|trans,
                'rows': 12
            }}) }}
            {{ form_errors(postForm.content) }}
        </div>

        {{ form_widget(postForm.submit, {'attr': {
            'class': 'btn btn-primary my-3'
        }, 'label': 'frontend.page.post.create.input.button.show'|trans}) }}
    {{ form_end(postForm) }}
{% endblock %}