{% extends 'base.html.twig' %}

{% block base_content_inner %}
    {% set post = page.post %}

    <h1 class="border-bottom border-secondary pb-2">{{ post.name }}</h1>

    <p style="white-space: pre-wrap;">{{ post.content }}</p>

    <div class="blockquote-footer text-primary border-bottom border-secondary pb-2 mb-2">
        {{ 'frontend.page.post.index.user-timestamp'|trans({'%username%': post.user.username, '%date%': post.createdAt|date}) }}
    </div>

    {% for comment in post.comments %}
        <p style="white-space: pre-wrap;">{{ comment.content }}</p>

        <div class="blockquote-footer text-primary border-bottom border-secondary pb-2 mb-2">
            {{ 'frontend.page.post.index.user-timestamp'|trans({'%username%': comment.user.username, '%date%': comment.createdAt|date}) }}
        </div>
    {% endfor %}

    {% block frontend_post_index_page_comment_form %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% if app.user %}
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_widget(commentForm.content, {'attr': {
                        'class': 'form-control text-white bg-dark',
                        'placeholder': 'frontend.page.post.index.input.comment.placeholder'|trans
                    }}) }}
                    {{ form_errors(commentForm.content) }}
                </div>

                {{ form_widget(commentForm.submit, {'attr': {
                    'class': 'btn btn-primary my-3'
                }, 'label': 'frontend.page.post.index.input.button.show'|trans}) }}
            {{ form_end(commentForm) }}
        {% endif %}
    {% endblock %}
{% endblock %}