{% block layout_main_navigation_navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        {% block layout_main_navigation_navbar_inner %}
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url('frontend.home.index.page') }}">Beethoven</a>

                <ul class="navbar-nav align-content-end">
                    {% if app.user %}
                        <li class="nav-item mx-2">
                            <div class="text-white px-3 py-1">Hello, {{ app.user.username }}</div>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="btn btn-primary px-3 py-1" href="{{ url('frontend.auth.logout.page') }}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item mx-2">
                            <a class="btn btn-secondary px-3 py-1" href="{{ url('frontend.auth.login.page') }}">Log In</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="btn btn-primary px-3 py-1" href="{{ url('frontend.auth.register.page') }}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </nav>
{% endblock %}
