{% extends 'base.html.twig' %}

{% block base_content_inner %}
    {% set topic = page.topic %}

    <h1 class="border-bottom border-secondary pb-2">{{ topic.name }}</h1>

    <table class="table table-hover table-striped table-dark text-center mt-4">
        <thead class="text-uppercase">
        <tr>
            <th class="border-secondary w-50 text-start">{{ 'frontend.generel.post.header-text'|trans }}</th>
            <th class="border-secondary w-25">{{ 'frontend.generel.statistic.header-text'|trans }}</th>
            <th class="border-secondary w-25">{{ 'frontend.generel.contribution.header-text'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for post in topic.posts %}
            <tr>
                <td class="text-start">
                    <strong class="d-block">
                        <a class="link-primary text-decoration-none" href="{{ url('frontend.post.index.page', {'postId': post.id}) }}">{{ post.name }}</a>
                    </strong>
                </td>
                <td>
                    <div>{{ 'frontend.generel.post.answers'|trans({'%number%': post.comments.count}) }}</div>
                    <div>{{ 'frontend.generel.post.views'|trans({'%number%': post.views}) }}</div>
                </td>
                <td>
                    {% set lastContribution = post.lastContribution %}

                    {% if lastContribution %}
                        {{ 'frontend.page.post.index.user-timestamp'|trans({'%username%': lastContribution.user.username, '%date%': lastContribution.createdAt|date}) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Frontend/components/pagination.html.twig' with {
        'routeParams': {'topicId': topic.id}
    } %}

    {% if app.user %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(postForm) }}
        <div class="form-group my-3">
            {{ form_widget(postForm.name, {'attr': {
                'class': 'form-control text-white bg-dark',
                'placeholder': 'frontend.page.topic.index.input.name.placeholder'|trans
            }}) }}
            {{ form_errors(postForm.content) }}
        </div>

        <div class="form-group my-3">
            {{ form_widget(postForm.content, {'attr': {
                'class': 'form-control text-white bg-dark',
                'placeholder': 'frontend.page.topic.index.input.content.placeholder'|trans,
                'rows': 5
            }}) }}
            {{ form_errors(postForm.content) }}
        </div>

        {{ form_widget(postForm.submit, {'attr': {
            'class': 'btn btn-primary my-3'
        }, 'label': 'frontend.page.topic.index.input.button.show'|trans}) }}
        {{ form_end(postForm) }}
    {% endif %}
{% endblock %}
