{% extends 'base.html.twig' %}

{% block base_content_inner %}
    {% set topic = page.topic %}

    <h1 class="border-bottom border-secondary pb-2">{{ topic.name }}</h1>

    <table class="table table-hover table-striped table-dark text-center mt-4">
        <thead class="text-uppercase">
        <tr>
            <th class="border-secondary w-50 text-start">{{ 'frontend.generel.post.header-text'|trans }}</th>
            <th class="border-secondary w-25">{{ 'frontend.generel.statistic.header-text'|trans }}</th>
            <th class="border-secondary w-25">{{ 'frontend.generel.contribution.header-text'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for post in topic.posts %}
            <tr>
                <td class="text-start">
                    <strong class="d-block">
                        <a class="link-primary text-decoration-none" href="{{ url('frontend.post.index.page', {'postId': post.id}) }}">{{ post.name }}</a>
                    </strong>
                </td>
                <td>
                    <div>{{ 'frontend.generel.post.answers'|trans({'%number%': post.comments.count}) }}</div>
                    <div>{{ 'frontend.generel.post.views'|trans({'%number%': post.views}) }}</div>
                </td>
                <td>
                    <a class="link-primary text-decoration-none" href="#">
                        {{ 'frontend.generel.contribution.link'|trans({'%date%': "now"|date("d M Y H:i"), '%username%': 'username'}) }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
